// G L O B A L
// ---------------------------
// ---------------------------

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  // font-size: 100%; // set in reset file
  font-family: $font-primary;
  line-height: 1.5;
  color: $color-txt;
  // prevent font scaling on horizontal
  -webkit-text-size-adjust: none;
}

body {
  background-color: $color-bkg;
}

img {
  display: block;
}

a {
  color: $color-ui;
  text-decoration: none;
}

.btn {
  @include type-link;
  display: inline-block;
  text-align: center;
  padding: 3px 12px;
  min-height: 32px;
  border-radius: 16px;
  color: $color-bkg;
  transition: color .6s,
              background-color .5s;

  &:hover {
    color: $color-txt;
    background-color: $color-bkg;
  }
}

h1 {
  @include type-title-h1;
  margin-bottom: 40px;
}

h2 {
  @include type-title-h2;

}

h3 {
  @include type-title-h3;
  margin-bottom: 12px;
}

p {
  @include type-text-body;
  margin-bottom: 16px;
}

.hidden {
  display: none;
}

// H E A D E R
// ---------------------------
// ---------------------------
header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 12px 16px 0;
  background-image: url(../images/noito_play.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;

  .logotype {
    opacity: .9;
  }

  h2 {
    position: absolute;
    top: 45%;
    width: 50vw;
  }
}

nav {
  position: absolute;
  bottom: 8px;
  margin-left: -8px;
}

// F O O T E R
// ---------------------------
// ---------------------------

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 16px 16px;
  background-color: $color-bkg-alt3;

  p {
    @include type-text-small;
    margin-top: 5px;
    margin-bottom: 0;
  }

  a {
    margin-right: -8px;
  }
}

// S E C T I O N S
// ---------------------------
// ---------------------------

section {
  padding: 24px 16px 64px;

  &:last-of-type {
    padding-bottom: 32px;
  }
}

#about {
  p:last-child {
    margin-bottom: -8px;
  }
}

#current-work,
#finished-work,
#concept-work {
  background-color: $color-bkg-alt1;
}

#statement {
  background-color: $color-bkg-alt2;

  p {
    font-family: $font-primary;
    @include type-title-h3;
    margin-bottom: 32px;
  }
}

#concept-work {

  .insta__pic {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

#contact {
  background-color: $color-bkg-alt3;

  a {
    color: $color-txt;
  }

  p {
    font-family: 'suisse-mono';
    margin-bottom: 4px;

    a {
      &:hover {
        border-bottom: 1px solid $color-txt;
      }
    }
  }

  .profile-img {
    opacity: .9;
    margin-bottom: 52px;
  }

  .social-links {
    text-align: center;
    margin-top: 32px;
    padding-top: 24px;
    border-top: 1px solid $color-txt;

    a {
      display: inline-block;
      margin-right: 4px;
      margin-left: 4px;
      padding: 8px;
      border-radius: 50%;

      &:hover {
        background-color: $color-bkg;
      }
    }
  }
}

.section__content {
  padding-top: 16px;
  border-top: 1px solid black;
}
