// G L O B A L
// ---------------------------
// ---------------------------

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  // font-size: 100%; // set in reset file
  font-family: $font-primary;
  line-height: 1.5;
  color: $color-txt;
  // prevent font scaling on horizontal
  -webkit-text-size-adjust: none;

  // overflow: hidden;
}

body {
  background-color: $color-bkg-alt3;
}

img {
  display: block;
}

a {
  color: $color-ui;
  text-decoration: none;
}

.btn {
  @include type-link;
  display: inline-block;
  padding: 3px 12px;
  margin-bottom: 8px;
  min-height: 32px;
  border-radius: 16px;
}

.btn--std {
  color: $color-ui;
  transition: color .6s,
              background-color .5s;

  &:hover {
    color: $color-bkg;
    background-color: $color-txt;
  }
}

.btn--alt {
  color: $color-bkg;
  transition: color .6s,
              background-color .5s;

  &:hover {
    color: $color-txt;
    background-color: $color-bkg;
  }
}

h1 {
  @include type-title-h1;
  margin-bottom: 40px;
}

h2 {
  @include type-title-h2;

}

h3 {
  @include type-title-h3;
  margin-bottom: 12px;

  span {
    text-decoration: underline;
  }
}

p {
  @include type-text-body;
  margin-bottom: 16px;
}

.hidden {
  display: none;
}

// H E A D E R
// ---------------------------
// ---------------------------
header {
  position: relative;
  height: 100vh;
  min-height: 320px;
  padding: 12px $side-padding 0;
  background-image: url(../images/noito_play.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;

  @include large {
    float: left;
    width: 50%;
  }

  .logotype {
    opacity: .9;
  }

  h2 {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}

nav {
  // position: absolute;
  // top: 25%;
  margin-top: 24px;
  margin-left: -8px;
}

// F O O T E R
// ---------------------------
// ---------------------------

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 $side-padding 16px;

  p {
    @include type-text-small;
    margin-top: 4px;
    margin-bottom: 0;
  }

  a {
    margin-right: -8px;
  }
}

// S E C T I O N S
// ---------------------------
// ---------------------------

section {
  padding: 24px $side-padding 32px;
  background-color: $color-bkg;

  @include large {
    float: left;
    width: 50%;
  }

  &:last-of-type {
    padding-bottom: 16px;
  }
}

#current-work,
#finished-work,
#concept-work {
  background-color: $color-bkg-alt1;
}

#current-work,
#finished-work {
  padding-bottom: 16px;

  h1 {
    margin-bottom: 72px;
  }
}

#statement {
  color: $color-title-alt;
  // background-color: $color-bkg-alt2;

  p:last-of-type {
      margin-bottom: 48px;
  }
}

#concept-work {

  .insta__pic {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

#contact {
  background-color: $color-bkg-alt3;

  a {
    color: $color-txt;
  }

  p {
    font-family: 'suisse-mono';
    margin-bottom: 4px;

    a {
      &:hover {
        border-bottom: 1px solid $color-txt;
      }
    }
  }

  .profile-img {
    opacity: .9;
    margin-bottom: 52px;
  }

  .social-links {
    text-align: center;
    margin-top: 32px;
    padding-top: 24px;
    border-top: 1px solid $color-txt;

    a {
      display: inline-block;
      margin-right: 4px;
      margin-left: 4px;
      padding: 8px;
      border-radius: 50%;

      &:hover {
        background-color: $color-bkg;
      }
    }
  }
}

.section__content {
  padding-top: 16px;
  border-top: 1px solid black;
}

.section__content--flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  > img {
    // flex: 0 1 auto;
    padding: 0 8px 40px;
    margin: auto;
  }
}


// P R O J E C T
// ---------------------------
// ---------------------------

.project {
  padding-top: 12px;
  padding-bottom: 32px;
  border-top: 1px solid black;
  cursor: pointer;
  transition: background .5s;

  .project__title {
    @include type-title-h2;
    color: $color-ui;
    margin-bottom: 24px;
  }

  .project__info {
    font-family: $font-primary;
    @include type-title-h3;
  }

  &:hover {

    .project__title {
      text-decoration: underline;
    }
  }
}

.project__card {
  z-index: 100;
  padding: $side-padding;
  height: 100%;
  width: 100%;
  transform: translateX(0%);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-bkg-alt2;
  transition: transform 1s;

  @include large {
    width: 50%;
  }
}

// @keyframes dupa {
//   from {
//     transform: translateY(-16px);
//     opacity: 0;
//   }
//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

.project__info {

  .info__title {

  }

  .info__text {

    &--short {

    }

    &--long {
      margin-bottom: 32px;
    }
  }

  .info__img {
    margin-bottom: 16px;
  }
}

.btn__close {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

// .project__card--show {
//   transform: translateX(0%);
// }


// @keyframes dupa {
//   from {
//     transform: translateY(-16px);
//     opacity: 0;
//   }
//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }
//
// .move-in {
//   animation-name: dupa;
//   animation-duration: 1s;
// }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(100%);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: all 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  transform: translateY(-16px);
  opacity: 0;
}
