// C O L O R
// ---------------------------
// ---------------------------
$color-title:      #303030;
$color-title-alt:  #EBAA0F;
$color-txt:        #303030;

$color-ui:         #FF5C5C;

$color-bkg:        #FFFFFF;
$color-bkg-alt1:   #D8DFE2;
$color-bkg-alt2:   #FFFF80;
$color-bkg-alt3:   #FF5C5C;

// M E D I A  Q U E R I E S
// ---------------------------
// ---------------------------
$tablet-width:   768px;
$desktopXS-width: 1024px;
$desktop-width:  1280px;

@mixin medium {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin large {
  @media (min-width: $desktopXS-width) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: $desktop-width) {
    @content;
  }
}

// T Y P E
// ---------------------------
// ---------------------------
@include font-face('gt-sectra', 'gt-sectra-display-bold', $weight: 'bold');
@include font-face('suisse', 'SuisseIntl-Book-WebS');
@include font-face('suisse-mono', 'SuisseIntlMono-Regular-WebS');

$font-primary: 'suisse-mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin type-title-h1 {
  font-family: 'gt-sectra';
  font-size: 2.125em; // 34px
  line-height: 1.1764705882; // 40px
  font-weight: bold;
}

@mixin type-title-h2 {
  font-size: 1.125em; // 18px
  line-height: 1.7777777778; // 32px
}

@mixin type-title-h3 {
  font-size: 0.875em; // 14px
  line-height: 1.7142857143; // 24px
}

@mixin type-text-body {
  font-family: 'suisse', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125em; // 18px
  line-height: 1.6666666667; // 28px
  letter-spacing: 0.2px;
}

@mixin type-text-small {
  font-family: 'suisse', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75em; // 12px
  line-height: 2; // 24px
  letter-spacing: 1px;
}

@mixin type-link {
  font-size: 0.875em; // 14px
  line-height: 1.7142857143; // 24px
  letter-spacing: 0.5px;
}

// G R I D
// ---------------------------
// ---------------------------
.wrapper {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  @include clearfix;

  @include medium {
    max-width: 700px;
  }

  @include large {
    padding: 0;
    max-width: 900px;
  }

  @include xlarge {
    padding: 0;
    max-width: 1200px;
  }
}

// A N I M A T I O N S
// ---------------------------
// ---------------------------
