// C O L O R
// ---------------------------
// ---------------------------
$color-title:      #303030;
$color-title-alt:  #999FA2;
$color-txt:        #303030;

$color-ui:         #FF5C5C;

$color-bkg:        #FFFFFF;
$color-bkg-alt1:   #D8DFE2;
// $color-bkg-alt2:   #FFFF80;
$color-bkg-alt2:   #D8DFE2;
$color-bkg-alt3:   #FF5C5C;

// M E D I A  Q U E R I E S
// ---------------------------
// ---------------------------
$tablet-width:   768px;
$desktop-width: 1024px;
$desktop-big-width:  1400px;

@mixin medium {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin large {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: $desktop-big-width) {
    @content;
  }
}

// T Y P E
// ---------------------------
// ---------------------------
@include font-face('gt-sectra', 'gt-sectra-display-bold', $weight: 'bold');
@include font-face('suisse-mono', 'SuisseIntlMono-Regular-WebS');

$font-primary: 'suisse-mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-display: 'gt-sectra', serif;

@mixin type-title-big {
  font-family: $font-display;
  font-size: 2em; // 32px
  line-height: 1.25; // 40px
  letter-spacing: -0.2px;
  font-weight: bold;

  @include medium {
    font-size: 2.5em;
    letter-spacing: 0.2px;
  }
  @include xlarge {
    font-size: 3em;
    letter-spacing: 0.2px;
  }
}

@mixin type-title-mid {
  font-family: $font-primary;
  font-size: 1.125em; // 18px
  line-height: 1.7777777778; // 32px

  @include medium {
    font-size: 1.25em; // 20px
  }
  @include xlarge {
    font-size: 1.375em; // 22px
  }
}

@mixin type-title-sub {
  font-family: $font-primary;
  font-size: 0.875em; // 14px
  line-height: 1.7142857143; // 24px

  @include medium {
    font-size: 1em;
  }
}

@mixin type-text-body {
  font-family: $font-primary;
  font-size: 1.125em; // 18px
  line-height: 1.6666666667; // 30px
  letter-spacing: -0.2px;

  @include medium {
    font-size: 1.25em;
    letter-spacing: 0;
  }
  @include xlarge {
    font-size: 1.375em; // 22px
  }
}

@mixin type-text-small {
  font-family: $font-primary;
  font-size: 0.875em; // 14px
  line-height: 1.7142857143; // 24px

  @include medium {
    font-size: 1em;
  }
}

@mixin type-link {
  font-family: $font-primary;
  font-size: 0.875em; // 14px
  line-height: 1.7142857143; // 24px
  letter-spacing: 0.5px;

  @include medium {
    font-size: 1em;
  }
}

// G R I D
// ---------------------------
// ---------------------------

@mixin padding($top, $side, $bottom) {
  padding: $top $side $bottom;

  @include medium {
    padding: 3*$top 4*$side 3*$bottom;
  }
  @include large {
    padding: 1.5*$top 3*$side 2*$bottom;
  }
  @include xlarge {
    padding: 2*$top 4*$side 2*$bottom;
  }
}

.wrapper {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  @include clearfix;

  @include medium {
    max-width: 640px;
  }
}

.wrapper--wide {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  @include clearfix;
  max-width: 1000px;
}

.wrapper--flex {

  @include large {
    display: flex;
  }
}

.flex-switch-large {
  :first-child {
    order: 2;
  }
  :last-child {
    order: 1;
  }
}

.hidden-large {
  @include large {
    display: none;
  }
}

.show-large {
  display: none;

  @include large {
    display: block;
  }
}

.show-large--inline {
  display: none;

  @include large {
    display: inline;
  }
}

// A N I M A T I O N S
// ---------------------------
// ---------------------------

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(100%);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: all 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  transform: translateY(-16px);
  opacity: 0;
}
