<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>n o i t o</title>
  <meta name="title" content="noito graphic design studio">
  <meta name="description" content="Architect, designer, developer working across a range of services including exhibition, packaging, visual identity, editorial, printed and digital products design.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- open graph tags -->
  <meta property="og:title" content="noito">
  <meta property="og:description" content="Architect, designer, developer working across a range of services
including exhibition, packaging, visual identity, editorial, printed and digital products design.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.noito.co/">
  <meta property="og:site_name" content="noito">
  <meta property="og:image" content="">
  <!-- stylesheets -->
  <link rel="stylesheet" href="css/master.css">
  <!-- scripts -->
  <!--build:js js/app.min.js -->
  <script src="js/es6-promise.auto.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="js/smooth-scroll.js"></script>
  <script src="js/instafeed.min.js"></script>
  <script src="js/remove-hover.min.js"></script>
  <script defer src="js/app.js"></script>
  <!-- endbuild -->
</head>
<body>
  <div id="app">

    <header>
      <a class="logotype" href="http://noito.co">
        <img srcset="images/noito_logo_2x.gif 2x" srcset="images/noito_logo_1x.gif 1x" src="images/noito_logo_1x.gif" alt="noito logo">
      </a>
      <nav>
        <ul>
          <li><a data-scroll class="btn btn--std" href="#about">about</a></li>
          <li><a data-scroll class="btn btn--std" href="#current-work">work</a></li>
          <li><a data-scroll class="btn btn--std" href="#contact">contact</a></li>
        </ul>
      </nav>
      <h2>
        dsgn &amp; dev
      </h2>
    </header> <!-- end header -->

    <section id="about">
      <h1>
        Architect, designer &amp;&nbsp;developer
      </h1>
      <h3>
        more is more
      </h3>
      <div class="section__content">
        <p>
          Working across a range of disciplines including exhibition, packaging, visual identity, editorial, printed and digital products design.
        </p>
        <p>
          Architectural background backed by visual communication, graphic design, print production process and front-end development skills help provide effective and engaging solutions.
        </p>
        <p>
          Check what I am <a data-scroll href="#current-work">working</a> on, what I <a data-scroll href="#finished-work">have done</a> so far or just <a data-scroll href="#contact">contact me</a> right away.
        </p>
      </div> <!-- end div.section__content -->
    </section> <!-- end section#about -->

    <section id="current-work">
      <h1>
        Currently happy working on
      </h1>

      <div v-if="upload">
        <project-tab v-for="(project, index) in projects"
                 v-if="!project.done"
                 @click.native="toggleShow"
                :data-index="index"
                :title="project.title"
                :info="project.shortInfo"></project-tab>
      </div>

    </section> <!-- end section#current-work -->

    <section id="statement">
      <p>
        Imagine the feeling, the joy, when you see or use something smart &amp;&nbsp;slick. Are we there?
      </p>
      <p>
        That is what I am always looking for!
      </p>
      <img src="images/noito_show.gif" alt="">
    </section> <!-- end aside -->

    <section id="finished-work">
      <h1>
        Selected finished projects
      </h1>

      <project-tab v-for="(project, index) in projects" v-if="project.done" :data-index="index" :title="project.title" :info="project.info"></project-tab>

    </section> <!-- end section#finished-work -->

    <section id="awards">
      <h1>
        Awards, exhibitions &amp;&nbsp;publications
      </h1>
      <h3>
        happy moments
      </h3>
      <div class="section__content section__content--flex">
        <img srcset="images/logos/projekt_roku_2x.png 2x"
             srcset="images/logos/projekt_roku_1x.png 1x"
                src="images/logos/projekt_roku_1x.png" alt="the design of the year logotype">
        <img srcset="images/logos/foto_publikacja_2x.png 2x"
             srcset="images/logos/foto_publikacja_1x.png 1x"
                src="images/logos/foto_publikacja_1x.png" alt="photo publication of the year logotype">
        <img srcset="images/logos/tokyo_design_2x.png 2x"
             srcset="images/logos/tokyo_design_1x.png 1x"
                src="images/logos/tokyo_design_1x.png" alt="tokyo design week logotype">
        <img srcset="images/logos/sofia_design_2x.png 2x"
             srcset="images/logos/sofia_design_1x.png 1x"
                src="images/logos/sofia_design_1x.png" alt="sofia design week logotype">
        <img srcset="images/logos/lodz_design_2x.png 2x"
             srcset="images/logos/lodz_design_1x.png 1x"
                src="images/logos/lodz_design_1x.png" alt="lodz design festival logotype">
        <img srcset="images/logos/arena_design_2x.png 2x"
             srcset="images/logos/arena_design_1x.png 1x"
                src="images/logos/arena_design_1x.png" alt="arena design festival logotype">
        <img srcset="images/logos/moma_2x.png 2x"
             srcset="images/logos/moma_1x.png 1x"
                src="images/logos/moma_1x.png" alt="museum of modern art in warsaw logotype">
        <img srcset="images/logos/print_control_2x.png 2x"
             srcset="images/logos/print_control_1x.png 1x"
                src="images/logos/print_control_1x.png" alt="museum of modern art in warsaw logotype">
        <img srcset="images/logos/2plus3d_2x.png 2x"
             srcset="images/logos/2plus3d_1x.png 1x"
                src="images/logos/2plus3d_1x.png" alt="2plus3d magazine logotype">
        <img srcset="images/logos/bec_zmiana_2x.png 2x"
             srcset="images/logos/bec_zmiana_1x.png 1x"
                src="images/logos/bec_zmiana_1x.png" alt="bęc zmiana foundation logotype">
      </div> <!-- end div.section__content -->
    </section> <!-- end section#awards -->

    <section id="concept-work">
      <h1>
        Fresh concepts
      </h1>
      <h3>
        find more <a href="https://www.instagram.com/noitostudio/" target="_blank">here</a>
      </h3>
      <div id="insta">
        <!-- instagram feed through instafeed -->
        <div class="insta__load">
          loading...
        </div>
      </div>
    </section> <!-- end section#concept-work -->

    <section id="contact">
      <h1>
        Hey! Let’s make something together
      </h1>
      <h3>
        oh and my name is <span>Tomek</span>
      </h3>
      <div class="profile-img">
        <img src="images/tomek_profile.jpg" alt="Tomek Wojciechowski">
      </div>
      <p>
        write at: <a href="mailto:info@noito.co">info@noito.co</a>
      </p>
      <p>
        call on: <a href="tel:0048790213658">0048 790213658</a>
      </p>
      <div class="social-links">
        <a href="https://www.instagram.com/noitostudio/" target="_blank">
          <img srcset="images/instagram_2x.png 2x" srcset="images/instagram_1x.png 1x" src="images/instagram_1x.png" alt="instagram link icon">
        </a>
        <a href="https://www.behance.net/noitostudio" target="_blank">
          <img srcset="images/behance_2x.png 2x" srcset="images/behance_1x.png 1x" src="images/behance_1x.png" alt="behance link icon">
        </a>
        <a href="https://github.com/fattombo" target="_blank">
          <img srcset="images/github_2x.png 2x"  srcset="images/github_1x.png 1x" src="images/github_1x.png" alt="github link icon">
        </a>
      </div>
    </section> <!-- end section#contact -->

    <footer>
      <p>&copy; noito</p>
      <a data-scroll class="btn btn--alt" href="#app">up we go</a>
    </footer> <!-- end footer -->

    <div class="project__card" :class="{'project__card--show': showcase}">
      <div @click="toggleShow" class="btn__close"><img src="images/close.svg" alt="close"></div>
      <project-card title="tytuł projektu"
                    info="opis projektu">></project-card>
    </div>

  </div> <!-- end div#app -->
</body>
</html>
