<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>n o i t o</title>
  <meta name="title" content="noito graphic design studio">
  <meta name="description" content="Architect, designer, developer working across a range of services including exhibition, packaging, visual identity, editorial, printed and digital products design.">
  <!-- open graph tags -->
  <meta property="og:title" content="noito">
  <meta property="og:description" content="Architect, designer, developer working across a range of services
including exhibition, packaging, visual identity, editorial, printed and digital products design.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.noito.co/">
  <meta property="og:site_name" content="noito">
  <meta property="og:image" content="">
  <!-- stylesheets -->
  <link rel="stylesheet" href="css/master.css">
  <!-- scripts -->
  <!--build:js js/app.min.js defer-->
  <script src="js/es6-promise.auto.min.js"></script>
  <script src="js/vue.min.js"></script>
  <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
  <script src="js/smooth-scroll.js"></script>
  <script src="js/instafeed.min.js"></script>
  <script src="js/remove-hover.min.js"></script>
  <script src="js/app.js" defer></script>
  <!-- endbuild -->
  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-65080990-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div id="container">

    <div class="wrapper--flex">

      <header class="header" id="top">
        <a class="header__logo" href="http://noito.co">
          <img srcset="images/noito_logo_2x.gif 2x" srcset="images/noito_logo_1x.gif 1x" src="images/noito_logo_1x.gif" alt="noito logo">
        </a>
        <nav class="header__nav">
          <ul>
            <li class="hidden-large">
              <a data-scroll class="btn btn--std" href="#about">about</a>
            </li>
            <li>
              <a data-scroll class="btn btn--std" href="#current-work">work</a>
            </li>
            <li>
              <a data-scroll class="btn btn--std" href="#contact">contact</a>
            </li>
          </ul>
        </nav>
        <h2 class="header__title">
          dsgn &amp; dev
        </h2>
      </header> <!-- end header -->

      <section class="section" id="about">
        <div class="wrapper">
          <header class="section__header">
            <h1 class="section__title">
              Architect, designer &amp;&nbsp;developer
            </h1>
            <h3 class="section__subtitle">
              more is more
            </h3>
          </header>
          <div class="section__content">
            <p class="text">
              Working across a&nbsp;range of disciplines including exhibition, packaging, visual identity, editorial, printed and digital products design.
            </p>
            <p class="text">
              Architectural background backed by visual communication, graphic design, print production process and front-end development skills help provide effective and engaging solutions.
            </p>
            <p class="text">
              Check out what I&nbsp;am <a class="link" data-scroll href="#current-work">working</a> on currently, what I&nbsp;<a class="link" data-scroll href="#finished-work">have done</a> so far or just <a class="link" data-scroll href="#contact">contact me</a> right away.
            </p>
          </div> <!-- end div.section__content -->
        </div>
      </section> <!-- end section#about -->
    </div>

    <div class="wrapper--flex flex-switch-large">

      <section class="section section--project" id="current-work">
        <div class="wrapper">
          <header class="section__header section__header--noline">
            <h1 class="section__title section__title--nosub">
              Currently in development
            </h1>
          </header>
          <div class="section__content section__content--notop">
            <template v-if="upload">
              <project-tab v-for="(project, index) in projects"
                           v-if="project.show && !project.finished"
                          @show="show"
                          :project="project"
                          :index="index">
              </project-tab>
            </template>
          </div>
        </div>
      </section> <!-- end section#current-work -->

      <section class="section">
        <div class="wrapper">
          <p class="section__text">
            Imagine the feeling, the joy, when you see or use something smart &amp;&nbsp;slick.
          </p>
          <p class="section__text">
            Yep, that is what I&nbsp;am always looking for!
          </p>
          <div class="section__content">
            <div class="picture picture--showreel">
              <div class="gif gif--showreel"></div>
            </div>
          </div>
        </div>
      </section> <!-- end aside -->

    </div>

    <div class="wrapper--flex">

      <section class="section section--project" id="finished-work">
        <div class="wrapper">
          <header class="section__header section__header--noline">
            <h1 class="section__title section__title--nosub">
              Selected finished projects
            </h1>
          </header>
          <div class="section__content section__content--notop">
            <template v-if="upload">
              <project-tab v-for="(project, index) in projects"
                           v-if="project.show && project.finished"
                          @show="show"
                          :project="project"
                          :index="index">
              </project-tab>
            </template>
          </div>
        </div>
      </section> <!-- end section#finished-work -->

      <section class="section">
        <div class="wrapper">
          <header class="section__header">
            <h1 class="section__title">
              Awards, exhibitions &amp;&nbsp;publications
            </h1>
            <h3 class="section__subtitle">
              happy moments
            </h3>
          </header>
          <div class="section__content">
            <div class="section__content--flex">
              <figure class="logo-award">
                <img srcset="images/logos/projekt_roku_2x.png 2x"
                   srcset="images/logos/projekt_roku_1x.png 1x"
                      src="images/logos/projekt_roku_1x.png" alt="the design of the year logotype">
              </figure>
              <figure class="logo-award">
                <img srcset="images/logos/foto_publikacja_2x.png 2x"
                   srcset="images/logos/foto_publikacja_1x.png 1x"
                      src="images/logos/foto_publikacja_1x.png" alt="photo publication of the year logotype">
              </figure>
              <figure class="logo-award">
                <img srcset="images/logos/tokyo_design_2x.png 2x"
                   srcset="images/logos/tokyo_design_1x.png 1x"
                      src="images/logos/tokyo_design_1x.png" alt="tokyo design week logotype">
              </figure>
              <figure class="logo-award">
                <img srcset="images/logos/sofia_design_2x.png 2x"
                   srcset="images/logos/sofia_design_1x.png 1x"
                      src="images/logos/sofia_design_1x.png" alt="sofia design week logotype">
              </figure>
              <figure class="logo-award">
                <img srcset="images/logos/lodz_design_2x.png 2x"
                   srcset="images/logos/lodz_design_1x.png 1x"
                      src="images/logos/lodz_design_1x.png" alt="lodz design festival logotype">
              </figure>
              <figure class="logo-award">
                <img srcset="images/logos/arena_design_2x.png 2x"
                   srcset="images/logos/arena_design_1x.png 1x"
                      src="images/logos/arena_design_1x.png" alt="arena design festival logotype">
              </figure>
              <figure class="logo-award">
                <img srcset="images/logos/moma_2x.png 2x"
                   srcset="images/logos/moma_1x.png 1x"
                      src="images/logos/moma_1x.png" alt="museum of modern art in warsaw logotype">
              </figure>
              <figure class="logo-award">
                <img srcset="images/logos/print_control_2x.png 2x"
                   srcset="images/logos/print_control_1x.png 1x"
                      src="images/logos/print_control_1x.png" alt="museum of modern art in warsaw logotype">
              </figure>
              <figure class="logo-award">
                <img srcset="images/logos/2plus3d_2x.png 2x"
                   srcset="images/logos/2plus3d_1x.png 1x"
                      src="images/logos/2plus3d_1x.png" alt="2plus3d magazine logotype">
              </figure>
              <figure class="logo-award">
                <img srcset="images/logos/bec_zmiana_2x.png 2x"
                   srcset="images/logos/bec_zmiana_1x.png 1x"
                      src="images/logos/bec_zmiana_1x.png" alt="bęc zmiana foundation logotype">
              </figure>
            </div>
            <div class="picture picture--awards">
              <div class="gif gif--awards"></div>
            </div>
          </div> <!-- end div.section__content -->
        </div>
      </section> <!-- end section#awards -->

    </div>

    <div class="wrapper--flex flex-switch-large">

      <section class="section section--project">
        <div class="wrapper">
          <header class="section__header section__header--noline">
            <h1 class="section__title">
              Fresh content
            </h1>
            <h3 class="section__subtitle">
              find out more <a class="link" href="https://www.instagram.com/noitostudio/" target="_blank">here</a>
            </h3>
          </header>
          <div class="section__content section__content--notop" id="insta">
            <!-- instagram feed through instafeed -->
            <div class="js-insta-loading">
              loading...
            </div>
          </div>
        </div>
      </section> <!-- end section#concept-work -->

      <section class="section section--contact" id="contact">
        <div class="wrapper">
          <header class="section__header section__header--noline">
            <h1 class="section__title">
              Hey! Let’s <span class="hidden-large">make something together</span><span class="show-large--inline">meet</span>
            </h1>
            <h3 class="section__subtitle">
              <span class="hidden-large">oh and</span> my name is Tomek
            </h3>
          </header>
          <div class="section__content section__content--notop">
            <picture class="profile-picture">
              <source media="(min-width: 672px)" srcset="images/tomek_profile_lg_1x.jpg 1x, images/tomek_profile_lg_2x.jpg 2x">
              <source media="(min-width: 420px)" srcset="images/tomek_profile_md_1x.jpg 1x, images/tomek_profile_md_2x.jpg 2x">
              <img src="images/tomek_profile_1x.jpg" srcset="images/tomek_profile_2x.jpg 2x">
            </picture>
            <div class="contact-links">
              <p class="contact-links__item">
                write at: <a class="link link--alt" href="mailto:tomek@noito.co">tomek@noito.co</a>
              </p>
              <p class="contact-links__item">
                call on: <a class="link link--alt" href="tel:0048790213658">0048&nbsp;790213658</a>
              </p>
            </div>
            <p class="contact-info">
              Based in Poznań/Poland but love to work internatio&shy;nally. It&nbsp;will be a&nbsp;pleasure to meet with you!
            </p>
            <div class="social-links">
              <a class="social-links__item" href="https://www.instagram.com/noitoco" target="_blank">
                <img srcset="images/instagram_2x.png 2x" srcset="images/instagram_1x.png 1x" src="images/instagram_1x.png" alt="">
              </a>
              <a class="social-links__item" href="https://www.behance.net/noitoco" target="_blank">
                <img srcset="images/behance_2x.png 2x" srcset="images/behance_1x.png 1x" src="images/behance_1x.png" alt="">
              </a>
              <a class="social-links__item" href="https://github.com/noitoco" target="_blank">
                <img srcset="images/github_2x.png 2x"  srcset="images/github_1x.png 1x" src="images/github_1x.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </section> <!-- end section#contact -->

    </div>

    <footer class="footer">
      <p class="footer__info">&copy; noito</p>
      <a data-scroll class="btn btn--alt" href="#top">up we go</a>
    </footer> <!-- end footer -->

    <!-- project showcase -->
    <transition name="pop">
      <div v-if="showcase" @click="hide" class="btn-close"><img src="images/close.svg" alt="close"></div>
    </transition>
    <transition name="slide-fade">
      <project-card v-if="showcase"
                   @hide="hide">
          <project-info :project="projects[number]"></project-info>
      </project-card>
    </transition>

  </div> <!-- end #container -->
</body>
</html>
